body{
    height: 100vh;
    width:100 vw;
}

.header{
    display:flex;
    justify-content:left ; 
    background-image: linear-gradient(180deg, rgba(212, 28, 212, 0.657),rgba(206, 87, 87, 0.938));                  
    height: 1rem;    
    padding: 1rem;
    border-style:solid;
    border-color: rgba(0, 0, 0, 0.274);
    font-size: xx-large;
    border-bottom: none;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}


.header span{
justify-self: center;
}

.subHeader{
    display: flex;
    border-style:solid;
    border-color: rgba(0, 0, 0, 0.274);
    background-color: rgba(206, 87, 87, 0.938);  
    border-top: none;
    padding-left:1.5rem;
    padding-top:1rem;
    padding-bottom:0.5rem;
}
.container{
    display:flex;
    flex-direction: column;
    min-height: 66vh;
}
.contentContainer{
    display: flex;
    flex: 1; 
    
}
.taskDetails ul{
    margin-left: 2rem;
}
button{
    margin-right: 10px;
}
ul{ 
    display: flex;
    justify-content: space-between;
    background: linear-gradient(5deg, transparent, white);
    border-top: solid 1px ;
    border-bottom: solid 1px ;

}
strong{
    margin-left:1.5rem;
}
br{
    white-space: pre;
}
#addProject{
    position: absolute;
    display: none; 
    left: 1rem; 
    top: 7rem;   

}
#addTask{
    position: absolute;
    display: none;   
    left: 1rem;
    top: 7rem;
}
h2{
    margin-left: 1rem; 
}

.projectList{
    width: 10rem;  
}
#projectListContainer{
     background-color: rgba(255, 197, 38, 0.322);
     border: 1em solid rgba(163, 152, 152, 0.226);
     border-bottom-left-radius:1em;  
}
.taskContainer{
    display: flex; 
    flex:5;
    justify-content: stretch;
}
.taskList{
    width: 7rem; 
    flex:1;
    border: 1em solid rgba(163, 152, 152, 0.226);
}
.taskList ul{
    padding-inline-start: 5px;

}

.formButtons{
    margin-top: 5px;
    display: flex;
}

.taskDetails{
    flex:2;  
    border: 1em solid rgba(163, 152, 152, 0.226);
    border-bottom-right-radius:1em; 
}
.subHeader button{  
    width: 4rem;
    height: 1.5rem; 
}
form{
    display: inline-block;
    position: absolute;
    visibility:visible;
    left: 45%;    
    width: auto;
    background-color: white;
    border-style: double;
    padding: 50px;
    padding-top: 5px;
    padding-bottom: 20px;  
}
input, label{
    display:flex;
    justify-content: space-between;
}
#submit{
    display: inline-block;
}
.box-shadow-menu {
    position: relative;
    padding-left: 1.25em;
  }
  .box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow: 
      0 0.25em 0 0 black,
      0 0.5em 0 0 black;
  }